<link rel="stylesheet" href="~/Complemento/css/footer.css" />

<div class="footer">
    <div class="float-right">
        @*Example text*@
    </div>
    <div>
        <strong>Todos los derechos a</strong> ConoceTe &copy;2020
    </div>
</div>