
@{
    ViewBag.Title = "Information";
}

<head>
    <title>ConoceTe | @ViewBag.Title</title>
    <!--Carga de Estilo Propio-->
    <link rel="stylesheet" href="~/Complemento/css/contact.css" />
</head>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    ConoceTe
                </h1>
                <small>
                    Plataforma de Citas Psicológicas
                </small>
            </div>
        </div>
    </div>
</div>